







.enter-title {
    color: white;

}
.digits-title{
    color: white;
}

#input-space{
    background-color: transparent;
    border: none;
    border-bottom: 2px solid rgb(30, 133, 188);
    border-radius: 0;
    color: white;

}
#input-space:focus{
    border: none;
    box-shadow: none;
    background-color: transparent;
    border-bottom: 2px solid rgb(30, 133, 188);


}

#ok-btn{
    background-color: rgb(84, 83, 83);
    padding: 5px 30px 5px 30px;
    border-radius: 50px;
    border: none;
}

