@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
/*     
font-family: 'Nunito Sans', sans-serif;
    font-family: 'Montserrat', sans-serif;

 */

 .cont{
    background-color: whitesmoke;
 }
 .phonerow{
    background-color: black;
    width: 30%;
    border: 2px solid black;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.3)), url('../Assets/floatingwater.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

 }

 

.nav{
    padding-left: 1px;
    padding-top: 1px;
    
}
.time{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
    color: white;

}


.timediv{
    margin-right: 30%;
}

.net1{
    width: 1rem;
    height: 1rem;
}
.net2{
    width: 0.9rem;
    height: 0.9rem;
    margin-left: 2px;

}

.weatherrow{
    padding-top: 20%;
}

.weathertext{
    font-family: 'Nunito Sans', sans-serif;
    text-decoration: none;
    color: white;
}


.cloudy{
    width: 4.5rem;
}


/* Google Search bar */

.googlesearch{
    border-radius: 50px;
    background-color: gray;
    opacity: 0.7;
    
}

.gicon{
    width: 5%;
    height: auto;
}


.voicelens{
    margin-left: 60%;
}


.gvoice{
    width: 23%;
    height: auto;
}

.lens{
    width: 23%;
    height: auto;
}




.storeicon{
    width: 35%;
    height: auto;
    margin-top: 5.5px;

}

.galleryicon{
    width: 55%;
    height: auto;
    margin-top: 5.5px;

}

.playicon{
    width: 65%;
    height: auto;
    margin-top: 5.5px;
}
.saficon{
    width: 63%;
    height: auto;
}

.apptext{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 10pt;


}



.dots{
    font-family: 'Nunito Sans', sans-serif;
    color: white;
    font-size: 50pt;
    border-radius: 50px;

}


.phone1{
    width: 90%;
    height: auto;
    margin-left: 3%;

}

.message{
    width: 90%;
    height: auto;
    margin-left: 50%;

}



.browser{
    width: 100%;
    height: auto;
    margin-left: 130%;

}

.camera{
    width: 90%;
    height: auto;
    margin-left: 95%;

}



.homeapps{
    margin-left: 3%;
}